<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Connection with Silvasoft ERP</title>
        <title lang="de-DE">Verbindung mit Silvasoft ERP</title>
        <title lang="nl-NL">Connectie met Silvasoft ERP</title>

        <input-field type="text">
            <name>apiUrl</name>
            <label>API URL for Silvasoft ERP</label>
            <label lang="de-DE">API-URL</label>
            <label lang="nl-NL">API-URL</label>
        </input-field>

        <input-field type="text">
            <name>apiUser</name>
            <label>API User (full e-mail)</label>
            <label lang="de-DE">API-Benutzer</label>
            <label lang="nl-NL">API-gebruiker</label>
        </input-field>

        <input-field type="password">
            <name>apiKey</name>
            <label>API Key</label>
            <label lang="de-DE">API-Schlüssel</label>
            <label lang="nl-NL">API-sleutel</label>
        </input-field>
    </card>
</config>
